* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* :root{
    --bg: #1D2125;
    --bg-soft: #22272B;
    --text: #F7F8F9;
    --text-soft: #F1F2F4;
    --button: #6CC3E0;
}

body.light{
    --bg: #F7F8F9;
    --bg-soft: #F1F2F4;
    --text: #1D2125;
    --text-soft: #22272B;
    --button: #227D9B;
} */



:root {
  --bg: #1D2125;
  --bg-soft: #22272B;
  --text: #f7f8f9;
  --text-soft: #B3B9C4;
  --button-hover: #6CC3E0;
  --button: #227D9B;
}

body.dark {
  --bg: #f7f8f9;
  --bg-soft: #F1F2F4;
  --text: #1d2125;
  --text-soft: #2C333A;
  --button-hover: #6CC3E0;
  --button: #227D9B;
}

.loading-container {
  background-color: var(--bg);
  color: var(--text);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid var(--bg-soft);
  border-top: 6px solid var(--button);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-text {
  margin-top: 16px;
  font-size: 1.2rem;
  color: var(--text-soft);

}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

html,
body {
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}